.selectable-text {
	-webkit-user-select: text;
	user-select: text;
}

.chat_message_time {
	font-family: "Lucida Console", Monaco, monospace;
}

.chat-room-user-name {
    color: #00FF00; /* green */
}

.chat-room-moderator-name {
	color: #3399FF; /* blue */
}

.chat-room-admin-name {
	color: #FF9900 /* orange */
}

.chat-room-blocked-name {
	color: #A0A0A0
}

.chat-room-self-name {
	color: #FFFFFF
}

.div-chat-room-window {
    width: 700px;
    border: 2px solid rgba(255,255,255,.1);
    background: linear-gradient(to top, #111 0%, #000 100%);
    font-size: 13px;
    margin: 0px 0px 0px 0px;
    box-shadow: 0px 0px 20px #000;
}

.div-chat-room-cont {
    padding: 0px 4px 4px;
	clear: both;
	background: #141414;
}

.div-chat-room-body {
    height: 500px;
	width: 78%;
    background: #141414;
    overflow-y: auto;
    position: relative;
	float: left;
}

.div-chat-room-users {
	width: 22%;
	height: 500px;
    background: #141414;
    padding: 4px;
    overflow-y: auto;
    position: relative;
	float: left;
}

.div-chat-room-title {
    margin: 0px 0px 0px 2px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.ellipsesoverflow {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.chat_message_preview {
    margin: 2px 2px 4px;
    word-break: break-word;
    line-height: 1.4em;
	max-width: 695px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 0px;
}